/* Side nav bar*/
.entryButton {
    margin-left: 0px;
    margin-top: 0px;
    white-space:normal;
    width: 15%;
    background-color: #257886;
    border-radius: 16px;
    border-color: #103d46;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px; 
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.barButton {
    margin-left: 5px;
    margin-top: 0px;
    white-space:normal;
    width: 95%;
    background-color: #257886;
    border-radius: 12px;
    border-color: #103d46;
    color: white;
    padding: 2px 6px;
    text-align: left;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/* Top nav bar*/
.topnav {
    overflow: hidden;
    /*background-color: #333;*/
    background-image: url("../img/background.jpeg");
    background-size: cover;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /*Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #257886;
    color: white;
    border-radius: 10px;
    border-color: #257886;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.entry-page {
    margin: auto;
    position: relative;
    background-image: url("../img/background.jpeg");
    background-size: cover;
    color: white;

    position: relative;
    border: 2px solid #257886;

    width: 100%;
    height: 100%;
}
.middle {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.border-radius50 {
    border-radius: 50%;
    border-color: #fff;
}

.margin-top20 {
    margin-top: 20px;
}

.table{
    width: 85%;
}

.frame{
    width:100%; 
    height:100%;
}